<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Chi-City Sneaker Store</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <h1><span th:text="${appName}">Our App</span></h1>
        <!--h1>Greatest Chi-City Sneaker Store</h1-->
        <div class="navbar">
            <a class="active" href="/"> Home</a>
            <a href="store"> Store</a>
            <a href="raffle"> Raffle</a>
            <a href="storelookup"> Store Look Up</a>
          </div>
        <img src="images/dj_khaled_store.jpg"></img>
        <h2>Major Key Alert!</h2>
    </body>
</html>