<!DOCTYPE html>
<html>
    <head>
        <title>Chi-City Sneaker Store</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/storelookup.css">
    </head>
    <body>
        <h1>Store Look Up</h1>
        <div class="navbar">
            <a href="/"> Home</a>
            <a href="store"> Store</a>
            <a href="raffle"> Raffle</a>
            <a class="active" href="storelookup"> Store Look Up</a>
        </div>
        <h2></h2>

        <form action="#" th:action="@{/storelookup}" th:object="${storelookup}" method="post">
            <p> <input type="text" th:field="*{zip}" name="zip" placeholder="Zip Code" /></p>
            <button type="lookItUpButton" class="btn btn-default">Look it up</button>
        </form>
        <p th:text="'Store Name: ' + ${storelookup.name}" />
        <p th:text="'Zip: ' + ${storelookup.zip}" />

        <img src="images/googleMaps.png"></img>
    </body>
</html>