<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Chi-City Sneaker Store</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/store.css">
    </head>
    <body>
        <h1>Store</h1>
        <div class="navbar">
            <a href="/"> Home</a>
            <a class="active" href="store"> Store</a>
            <a href="raffle"> Raffle</a>
            <a href="storelookup"> Store Look Up</a>
          </div>
        <h2></h2>

        <div>
            <img src="images/triple_white_yeezy.jpg"></img>
            <form> 
                <p>Triple White Yeezy Boost 350</p>

                <select name="Size">
                    <option value="">Size</option>
                    <option value="Yee732849">9.5</option>
                    <option value="Tra105778">10</option>
                    <option value="Ywr700123">11</option>
                </select>

                <button type="addToCart" onclick="">Add to Cart</button>
            </form>

            <img src="images/travis-scott-air-jordan-4.jpg"></img>
            <form> 
                <p>Travis Scott Air Jordan IV</p>

                <select name="Size">
                    <option value="">Size</option>
                    <option value="Yee732849">8</option>
                    <option value="Tra105778">9</option>
                    <option value="Ywr700123">10</option>
                </select>

                <button type="addToCart" onclick="">Add to Cart</button>
            </form>

            <img src="images/adidas-Yeezy-Boost-700-Wave-Runner-.jpg"></img>
            <form> 
                <p>Yeezy Wave Runner boost 700</p>

                <select name="Size">
                    <option value="">Size</option>
                    <option value="Yee732849">8</option>
                    <option value="Tra105778">9.5</option>
                    <option value="Ywr700123">10</option>
                </select>

                <button type="addToCart" onclick="">Add to Cart</button>
            </form>
        </div>

    </body>
</html>